
@{
    ViewBag.Title = "Thankyou";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="margin-top:80px; margin-bottom:200px; text-align:center;"> Your Order has been Received. Thank You For Shopping Here!</h2>

@ViewBag.id