<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">

        @if (User.IsInRole("Admin"))
        {
            <li class="active">
                <a href="@Url.Action("Index", "Admin")"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
            </li>
            <li>
                <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Manage Supplier <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="demo" class="collapse">
                    <li>
                        <a href="@Url.Action("AddSupplier", "Admin")">Add Supplier</a>
                    </li>
                    <li>
                        <a href="#">Edit Supplier</a>
                    </li>
                    <li>
                        <a href="#">Delete Supplier</a>
                    </li>
                    <li>
                        <a href="@Url.Action("SupplierList", "Admin")">Show All Suppliers</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="charts.html"><i class="fa fa-fw fa-bar-chart-o"></i> Charts</a>
            </li>
        }
        else if (User.IsInRole("Supplier"))
        {
            <li class="active">
                <a href=""><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
            </li>
            <li>
                <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Manage Products <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="demo" class="collapse">
                    <li>
                        <a href="#">Add Product</a>
                    </li>
                    <li>
                        <a href="#">Show Products</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="charts.html"><i class="fa fa-fw fa-bar-chart-o"></i> Charts</a>
            </li>
        }
    </ul>
</div>
<!-- /.navbar-collapse -->