
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>View</h2>



          <!-- page start-->
<!--datetime picker start-->

<div class="row">
    <div class="col-md-12">
        <section class="panel">
            <header class="panel-heading">
                Datetime Pickers
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                    <a href="javascript:;" class="fa fa-times"></a>
                </span>
            </header>
            <div class="panel-body">
                <form class="form-horizontal  tasi-form" action="#">

                    <div class="form-group">
                        <label class="control-label col-md-3">Default input Datetimepicker</label>
                        <div class="col-md-4">
                            <input size="16" type="text" value="2012-06-15 14:45" readonly class="form_datetime form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3"> Component Datetimepicker</label>
                        <div class="col-md-4">
                            <div class="input-group date form_datetime-component">
                                <input type="text" class="form-control" readonly="" size="16">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-danger date-set"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">Advance Datetimepicker</label>
                        <div class="col-md-4">
                            <div class="input-group date form_datetime-adv">
                                <input type="text" class="form-control" readonly="" size="16">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-danger date-reset"><i class="fa fa-times"></i></button>
                                    <button type="button" class="btn btn-warning date-set"><i class="fa fa-calendar"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">Meridian Format</label>
                        <div class="col-md-4">
                            <div class="input-group date form_datetime-meridian">
                                <input type="text" class="form-control" readonly="" size="16">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-danger date-reset"><i class="fa fa-times"></i></button>
                                    <button type="button" class="btn btn-info date-set"><i class="fa fa-calendar"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>



                </form>
            </div>
        </section>
    </div>
</div>

<!--datetime picker end-->
<!-- page end-->










<!--footer start-->
<footer class="site-footer">
    <div class="text-center">
        2013 &copy; FlatLab by VectorLab.
        <a href="#" class="go-top">
            <i class="fa fa-angle-up"></i>
        </a>
    </div>
</footer>
<!--footer end-->


