@{

    ViewBag.Title = "Home Page";
}
<!-- Home slideder-->
<div id="home-slider">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 slider-left"></div>
            <div class="col-sm-9 header-top-right">
                <div class="homeslider">
                    <div class="content-slide">
                        <ul id="contenhomeslider">
                            <li><img alt="Funky roots" src="~/assets/data/slider1.jpg" title="Ads 1" /></li>
                            @*<li><img alt="Funky roots" src="~/assets/data/slider1.jpg" title="Ads 2" /></li>
                            <li><img alt="Funky roots" src="~/assets/data/slider1.jpg" title="Ads 3" /></li>*@
                        </ul>
                    </div>
                </div>
                <div class="header-banner banner-opacity">
                    <a href="#"> <img alt="Funky roots" src="~/assets/data/P111.jpg" title="Feature Ads" /> </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END Home slideder-->
<!-- servives -->
<div class="container">
    <div class="service ">
        <div class="col-xs-6 col-sm-3 service-item">
            <div class="icon">
                <img alt="services" src="~/assets/data/s1.png" />
            </div>
            <div class="info">
                <a href="#"><h3>Free Shipping</h3></a>
                <span>On order over Rs. 2000</span>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 service-item">
            <div class="icon">
                <img alt="services" src="~/assets/data/s2.png" />
            </div>
            <div class="info">
                <a href="#"><h3>30-day return</h3></a>
                <span>Moneyback guarantee</span>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 service-item">
            <div class="icon">
                <img alt="services" src="~/assets/data/s3.png" />
            </div>
            <div class="info">
                <a href="#"><h3>24/7 support</h3></a>
                <span>Online consultations</span>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 service-item">
            <div class="icon">
                <img alt="services" src="~/assets/data/s4.png" />
            </div>
            <div class="info">
                <a href="#"><h3>SAFE SHOPPING</h3></a>
                <span>Safe Shopping Guarantee</span>
            </div>
        </div>
    </div>
</div>
<!-- end services -->

<!-- Main Content -->
<div class="content-page">
    <div class="option5 container">

        <!-- featured category FASHION -->
        @Html.Action("_FASHIONFeatureProducts", "Home")
        <!-- end featured category FASHION -->

        <!-- featured category SPORT -->
        @Html.Action("_SPORTSFeatureProducts", "Home")
        <!-- end featured category SPORT -->

        <!-- featured category ELECTRONICS -->
        @Html.Action("_ELECTRONICSFeatureProducts", "Home")
        <!-- end featured category ELECTRONICS -->

        <!-- featured category ELECTRONICS -->
        @Html.Action("_DIGITALFeatureProducts", "Home")
        <!-- end featured category ELECTRONICS -->

        <!-- featured category FURNITURE -->
        @*@Html.Action("_FURNITUREFeatureProducts", "Home")*@
        <!-- end featured category FURNITURE -->

        <!-- featured category JEWELRY -->
        @*@Html.Action("_JEWELRYFeatureProducts", "Home")*@
        <!-- end featured category JEWELRY -->

    </div>
</div>
<!-- END Main Content -->
